# streamlit
# scikit-learn
# xgboost
# tensorflow
# pandas
# numpy
# joblib
# pytesseract
# pillow
# google-generativeai
# deep-translator
# langchain
# langchain-community
# langchain-google-genai
# faiss-cpu
# sentence-transformers
# shap
# fpdf2
# groq
# pytorch-tabnet
# reportlab
# python-dotenv
# bcrypt



# Web & UI
streamlit
pillow

# Core Data & ML (Optimized for CPU/Memory)
numpy
pandas
scikit-learn
joblib
shap
xgboost
tensorflow-cpu
pytorch-tabnet

# AI & RAG (API Focused)
google-generativeai
groq
langchain
langchain-community
langchain-google-genai
python-dotenv

# Vector Search & Embeddings
faiss-cpu
sentence-transformers

# Processing & Utilities
pytesseract
deep-translator
fpdf2
reportlab
bcrypt
pypdf
groq